{
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.html", "*.jinja2", "*.j2"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
