{% extends "base.j2" %}
{% block title %}
  <title>商品一覧</title>
{% endblock title %}
{% block header %}
  <h1>商品一覧</h1>
  <hr />
{% endblock header %}
{% block nav %}
  {{ super() }}
{% endblock nav %}
{% block content %}
  {{ super }}
{% endblock content %}
{% block footer %}
  {{ super }}
{% endblock footer %}
