{% extends "base.j2" %}

{% block content %}
  <h1>Home</h1>
  <a href="{{ url_for('one_app.show_template') }}">アプリケーション：1</a>
  <br>
  <a href="{{ url_for('two_app.show_template') }}">アプリケーション：2</a>
{% endblock content %}
